Django==1.10.5
django-betterforms==1.1.4
django-countries==5.3.2
django-crispy-forms==1.6.1
django-extensions==1.9.0
django-rest-framework-temporary-tokens==0.1.4
djangorestframework==3.4.6
djangorestframework-expiring-authtoken==0.1.4
get==0.0.0
numpy==1.13.3
pipreqs==0.4.9
plotly==1.12.12
post==0.0.0
pyparsing==2.1.10
query-string==0.0.0
requests==2.10.0
requests-oauthlib==0.7.0
setupfiles==0.0.0
urllib3==1.22